lab2/lab2z1/nbproject/
lab2/lab2z1/build/Debug/
lab2/lab2z1/.dep.inc
lab2/lab2z1/Makefile
nbproject/
*.inc
lab2/lab2z3/Makefile
lab2/lab2z2/Makefile
lab2/lab2z2/build/
lab2/lab2z3/build/
lab2/lab2z4/build/
lab2/lab2z4/Makefile
lab2/lab2z5/build/
lab2/lab2z5/Makefile
instrukcja/
